# entorno de ejecucion
**/build/
**/bin/
**/classes/
**/java8/
.gradle/
logs/*
.tmp/

# distribucion: ignorar todo salvo config
**/dist/**
!**/dist/config/
!**/dist/config/**

daemon-bajar.ps1
daemon-subir.ps1
